@media screen and (max-width: 480px) {
  select {
    width: 100%;
    height: 40px;
    font-size: 20px;
  }

  .send {
    padding: 0px;
    width: 100%;
    height: 40px;
  }
}

@media screen and (min-width: 481px) {
  select {
    width: 470px;
    height: 40px;
    font-size: 20px;
  }

  .send {
    padding: 0px;
    width: 470px;
    height: 40px;
  }

  .form {
    width: 479px;
    text-align: center;
    margin: 0px auto;
    display: block;
  }
}

.container {
  margin: auto;
}

h1 {
  font-size: 60px;
  color: gray;
  text-align: center;
}

.pass {
  margin: 30px 0px 5px 0px;
  display: block;
  text-align: left;
}

input.button {
  margin: auto;
  display: block;
  width: 70px;
  height: 30px;
  margin-top: 20px;
}

